* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background-color: #2B2B2B;
}

a {
  text-decoration: none;
  color: #E2F27D;
}

h1 {
  margin: 100px 0;
  font-size: 75px;
  font-weight: 700;
}

.home {
  width: 1170px;
  margin: 0 auto;
}

.bg {
  height: calc(100vh);
  background-image: linear-gradient( rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.57) ), url(img/bg2.jpg);
}

.contacts {
  display: flex;
}

.telegram {
  margin-left: 50px;
  display: flex;
  align-items:center;
}

.email {
  display: flex;
  align-items:center;
}

main img {
  margin-right: 20px;
}

.center {
  position: absolute;
  top:50%;
  transform:translate(0%, -50%);

  padding: 50px;
}

@media screen and (max-width: 942px) {
  h1 {
    margin: 70px 0;
    font-size: 55px;
    font-weight: 700;
  }
}

@media screen and (max-width: 718px) {
  h1 {
    margin: 50px 0;
    font-size: 35px;
    font-weight: 700;
  }
}

@media screen and (max-width: 602px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts .telegram {
    margin-left: 0;
  }

  .email img {
    width: 47px;
  }

  .email {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 493px) {
  h1 {
    font-size: 25px;
  }

  .center {
    /* padding: 10px; */
  }
}

@media screen and (max-width: 381px) {
  .center {
    padding: 20px;
  }
}

@media screen and (max-height: 420px) {
  h1 {
    margin: 35px 0;
    font-size: 35px;
    font-weight: 700;
  }
}
